{% extends 'base.html' %}

{% block pagetitle %}
    {{ title }}
{% endblock pagetitle %}

{% block body %}
<div class="container">

    <div class="row mb-5 text-center text-white">
        <div class="col-lg-10 mx-auto">
            <h1 class="display-4" style="padding-top: 2%; font-weight: 400; color: rgb(4, 54, 4);"><b>{{ title }}🍂</b></h1>
        </div>
    </div>

    <div class="col text-center">
        {% set pred_list1 = [3, 4, 6, 10, 14, 17, 19, 22, 23, 24, 27, 37] %}
        {% set pred_list2 = [1, 2, 5, 8, 13, 20, 26, 31, 33] %}

        {% if pred in pred_list1 %}
            <div class="row">
                <div class="col mx-auto">
                    <img src="{{ image_url }}" alt="Image"/>
                </div>

            </div>
            <div class="lead text-center" style="font-weight: 600; color: green;">
                <h2><b>Status: Healthy</b></h2>
            </div>
                <style>
                    body {
                        background-color: #00ff00;
                        height: 100vh;
                    }
                </style>
        {% elif pred in pred_list2 %}
            <div class="row">
                <div class="col mx-auto">
                    <img src="{{ image_url }}" alt="Image"/>
                </div>
                <div class="col mx-auto">
                    <img src="{{ sal_url }}?{{timestamp }}" width="256" height="256" alt="Sal Image"/>
                </div>
            </div>
            <div class="lead text-center" style="font-weight: 600; color: green;">
                <h2><b>Status: Moderate</b></h2>
            </div>
            <style>
                body {
                    background-color: #ffff00;
                    height: 100vh;
                }
            </style>
        {% else %}

                <div class="row">
                    <div class="col mx-auto">
                        <img src="{{ image_url }}" alt="Image"/>
                    </div>
                    <div class="col mx-auto">
                        <img src="{{ sal_url }}?{{timestamp }}" width="256" height="256" alt="Sal Image"/>
                    </div>
                </div>
                <div class="lead text-center" style="font-weight: 600; color: white;">
                    <h2><b>Status: Severe</b></h2>
                </div>
                <style>
                    body {
                        background-color: #ff0000;
                        height: 100vh;
                    }
                </style>
        {% endif %}


    <br>

    <div class="row">
        <div class="col mx-auto">
            <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
                <h5><b>
                    {% if pred in pred_list1 %}
                        Tips to Grow Healthy Plants :
                    {% else %}
                        Brief Description:
                    {% endif %}
                </b></h5>
                <p>{{ desc }}</p>
            </div>
        </div>

        <div class="col mx-auto">
            {% if pred in pred_list1 %}

            {% else %}
                <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
                <div class="text-center">
                    <h5><b>
                    Contact A Human Doctor :

                    </b></h5>
                    <br>
                    <img src="{{ t_doc }}" width="300" height="350" alt="Human Tree Doc">
                    <br><br>
                    <h6> </h6>
                            <a target="_blank" href="{{ contact_doc }}">
                                <button type="button" class="btn btn-success" style="background-color: #05380b;">Contact Now</button>
                            </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}