<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% extends 'base.html' %}
{% block pagetitle %}
Tutorial
{% endblock pagetitle %}

{% block body %}
<br>
<div class="col-lg-10 mx-auto text-center">
    <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📙 Getting Started</b></h1></div>

<div class="row p-5 laptop mx-auto ">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 120%;height: 105%;">
          <img src="static/aiHome.png" alt="leaf" width="300" height="400">
          </div>
    </div>
</div>


<div class="row p-5 laptop mx-auto " >
    <div class=" col">

        <div class="p-3 bg-white shadow rounded-lg" style="width: 120%;height: 105%; ">
          <img src="static/aiDoc1.png" alt="leaf" width="300" height="400">
          </div>

    </div>
</div>

<div class="row p-5 laptop mx-auto">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 120%;height: 105%;">
          <img src="static/aiDoc4.png" alt="leaf" width="300" height="400">
          </div>
    </div>
</div>

<div class="row p-5 laptop mx-auto">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 120%;height: 105%;">
          <img src="static/ai2.png" alt="leaf" width="300" height="270">
          </div>
    </div>
</div>

<div class="row p-5 laptop mx-auto">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 120%;height: 105%;">
          <img src="static/treeComm2.png" alt="leaf" width="300" height="400">
          </div>
    </div>
</div>

{% endblock body %}
</html>