<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b><br>📞Contact Us</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions, Feel Free To Reach Out To Our Friendly Team. </p>
    </div>
</div>

<div class="row p-3">


    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Victoria Amadin</h3>
                <p class="lead" style="font-weight: 350;"> She holds a BSc in Computing, an MSc in Software Engineering, and is currently pursuing her PhD in Engineering.
                    Her research focuses on image processing, specifically deep learning techniques for image superresolution using Computer Vision.



                </p>
            </center>
            <div>
               <center>
                <a target="_blank" href='mailto:victoria_amadin@seoultech.ac.kr'><img
                        src="static/email.png" height="35" width="40"></a>
                <a target="_blank" href='https://www.linkedin.com/in/victoria-amadin/'><img
                        src="static/linkedin.png" height="34" width="34"></a></center>

            </div>
        </div>
    </div>


</div>

{% endblock body %}